.custom-button {
    margin-top: 1rem;
    margin-left: 10rem;
    color: #fff;
    background-color: #1d4ed8;
    border: none;
    border-radius: 0.375rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    font-size: 0.875rem;
}
  .custom-button:hover {
    background-color: #2563eb;
}
  