.footer {
    padding: 1rem;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #a4a4a4;
  }
  .copyright-text {
    font-size: 15px;
    color: black;
  }